In [2]:
import pandas as pd 

df1 = pd.read_csv(r"D:\Final project\current health regression model\p1_test.csv")
df1

,1.589300268390259419e+01,1.171282902260990966e+01,-3.756792885773750612e+01
0,-2.722421,-4.540615,11.475211
1,-14.587111,18.592864,11.468441
2,0.224331,16.433306,-15.159309
3,-12.215286,11.742682,17.392223
4,17.213737,-13.958878,-18.291343
...,...,...,...
4994,-14.424996,7.055352,21.402087
4995,-12.249485,12.226991,14.971488
4996,-19.242759,-18.218209,56.687193
4997,-13.561869,2.773022,26.627790
4998,-3.784030,0.979866,11.868025

In [3]:
df1.isnull().sum()

1.589300268390259419e+01     0
1.171282902260990966e+01     0
-3.756792885773750612e+01    0
dtype: int64

In [5]:
df2 = pd.read_csv(r"D:\Final project\current health regression model\p1_train.csv")
df2

,-7.262173392018990370e+00,9.572603824406265005e+00,5.358725498169498280e+00
0,3.462140,10.684524,-13.275822
1,-12.996801,-3.446163,31.815190
2,7.083537,-14.074146,1.995030
3,-15.216890,-18.630651,48.812452
4,6.841930,-8.080967,-0.481346
...,...,...,...
9994,16.981033,-7.377274,-21.776089
9995,0.258434,-19.488764,22.098571
9996,17.588664,11.326009,-47.812604
9997,0.531756,-15.189405,20.791085
9998,10.763891,-2.720607,-20.735447

In [6]:
df2.isnull().sum()

-7.262173392018990370e+00    0
9.572603824406265005e+00     0
5.358725498169498280e+00     0
dtype: int64

In [7]:
# Renaming the names of column

df1.columns = ['col1','col2','target']
df2.columns = ['col1','col2','target']

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error

x_train = df2[['col1','col2']]
y_train = df2['target']

x_test = df1[['col1','col2']]
y_test = df1['target']

models = [LinearRegression(),
          SVR()]
for model in models:
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    MSE = mean_squared_error(y_test,y_pred)
    MAE = mean_absolute_error(y_test,y_pred)

    print(f"********{type(model).__name__}********")
    print(f"Mean Squared Error (MSE): {MSE:.2f}")
    print(f"Mean Absolute Error (MAE): {MAE:.2f}")

********LinearRegression********
Mean Squared Error (MSE): 5.05
Mean Absolute Error (MAE): 1.80
********SVR********
Mean Squared Error (MSE): 5.42
Mean Absolute Error (MAE): 1.86